<!-- Footer -->
<footer>
    <section class="footer">
        <div class="footer__item footer__item-grey">
            <div class="footer__item-inner">
                <img src="https://www.nationalgeographic.org/wp-content/uploads/2021/10/Jessica-Cramp-NationalGeographic_2697224_credit-Andy-Mann_cc6D-400x400.jpg" alt="">
                <img src="https://www.nationalgeographic.org/wp-content/uploads/2021/10/Jessica-Cramp-NationalGeographic_2697224_credit-Andy-Mann_cc6D-400x400.jpg" alt="">
                
            </div>
            <div class="footer__item-inner-2">
               <div class="footer__item-inner-2-logoname">
                <img src="../img/nature-logo.png" class="u-logo" alt="logo">
                <span>&nbsp;</span>
                <a href="/" class="u-text-dec-none"><h2 class="heading-secondary u-color-white">Nature Explorer</h2></a>
               </div>
                <div>
                    <h3 class="heading-tertiary u-color-white">
                        Nature Explorer
                    </h3>
                    <p class="paragraph u-color-white">
                        Jammu & Kashmir ,
                        India ❤️ 184102
                    </p>
                </div>
               
                <div class=".footer__item-inner-contact">
                    <h2 class="heading-secondary u-color-white">
                        Contact Us
                    </h2>
                    <a href="https://twitter.com/jamesgregoryph/status/1675056821914968066?s=20" class="u-icons "> <i class="fa fa-twitter  u-color-twitter" aria-hidden="true"></i></a>
                    
                    <a href="https://www.linkedin.com/in/ashish-rajput-5ab8401a9/" class="u-icons "><i class="fa fa-instagram u-color-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/ashish-rajput-5ab8401a9/" class="u-icons "><i class="fa fa-linkedin-square  u-color-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/watch?v=EucvD2TJ6xQ" class="u-icons "><i class="fa fa-youtube-square  u-color-youtube" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="footer__item footer__item-black">
            <div class="footer__item-inner">
                <a href="/about-us" class="footer-link">About Us</a>
                <span>&nbsp;</span>
                <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
                <span>&nbsp;</span>
                <a href="/blogs" class="footer-link">Blogs</a>
                <span>&nbsp;</span>
                <p class="paragraph u-color-white">
                    © 2022-2023 Nature Explorer Blogs | All Rights Reserved
                </p>

            </div>
            <div class="footer__item-inner">
                <a href="#top" class="btn-black-yellow"> Back To Top</a>
            </div>
        </div>
    </section>
    <script src="../js/main.js"></script>
</footer>

