<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= param %> - Nature Explorer</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/nature-logo.png" type="image/x-icon">

    <script src="https://kit.fontawesome.com/5c14429a9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div id="top"></div>
    <header class="header header-other">
        <%- include("_white-nav") -%>
        <div class="header__center u-bg-black-translucent">
            <h1 class="heading-primary u-color-white">
                About Us
            </h1>
            <p class="paragraph u-color-white">
              The story of our beautiful journey
            </p>
        </div>
        <div class="header__bottom u-bg-black-translucent ">
            <h1 class="heading-primary u-color-white">NATURE EXPLORER NEWSROOM</h1>
            <div class="u-pos-relative-with-z">
                <ul class="flex-list">
                    <li class="flex-list-item"><a href="/" class="flex-list-item-link u-color-white">HOME</a></li>  
                    <li class="flex-list-item"><a href="/blogs/animals" class="flex-list-item-link u-color-white">ANIMALS</a></li>
                    <li class="flex-list-item"><a href="/blogs/birds" class="flex-list-item-link u-color-white">BIRDS</a></li>
                    <li class="flex-list-item"><a href="/blogs/forest" class="flex-list-item-link u-color-white">FOREST</a></li>
                    <li class="flex-list-item"><a href="/blogs/wildlife-reserves" class="flex-list-item-link u-color-white">WILDLIFE RESERVES</a></li>
                    <li class="flex-list-item"><a href="/blogs/other-blogs" class="flex-list-item-link u-color-white">Other Blogs</a></li>
                </ul>
               </div>
        </div>
        <div class="background_video background_video-img">
            <img src="../img/page-nav-bg.jpg" alt="">
        </div>
    </header>
    
    <main>
        <section class="approach">
            <div class="approach__item approach__item-1">
                <h3 class="heading-tertiary u-color-grey">OUR APPROACH</h3>
                <h2 class="heading-primary u-color-black bold">
                    Illuminate and protect the wonder of our world

                </h2>
            </div>
            <div class="approach__item approach__item-2">
                    <div>
                    <h2 class="heading-tertiary u-color-black bold">For more than 130 years, the Nature Explorer has funded the best 
                        and brightest individuals dedicated to scientific discovery and understanding of our world.
                     </h2>
                    <p class="paragraph u-color-grey">
                        Our historic commitment to dauntless exploration dates back to our founding in 1888 when
                         33 prominent scholars and scientists established an organization dedicated to the
                          “increase and diffusion of knowledge.”
                        Today, Nature Explorers are continuing to push
                         the boundaries of knowledge, uncovering new insights about the 
                         natural and cultural worlds, and strengthening our connection 
                         to them and one another.
                    </p>
                    </div>
            </div>
        </section>
        <section class="join">
            <h3 class="heading-tertiary u-color-grey u-text-center">OUR STRATEGIC VISION</h3>
            <h2 class="heading-primary u-color-black u-text-center">Legendary legacy, boundless future
            </h2>
            <div class="join__container">
                <div class="join__container__item ">
                    <p class="paragraph">
                        Well over a century after our founding, Nature Explorer continues to reach and resonate
                         with millions of people worldwide. How has our organization stood the test of time? We’ve
                          stayed true to our original mission to pursue and celebrate exploration, scientific excellence,
                           education, and unforgettable storytelling while simultaneously evolving with nimbleness and
                            fortitude in a rapidly changing world. We embraced innovation and intentionally adapted, 
                            thoughtfully expanding our business model, global reach, and diversity, 
                        equity and inclusion (DEI) efforts. In doing so, we have remained a vibrant, relevant, world-class 
                        brand at the forefront of exploration and knowledge. 
                    </p>
                    <p class="paragraph">
                        NG Next celebrates our legendary legacy and takes the next step forward by charting a dynamic, 
                        five-year plan that strengthens our foundation, 
                        builds on our momentum, embeds diversity, equity, and inclusion into every aspect of our work,
                         and sets a clear vision for the future
                         to drive significant impact.
                    </p>
                </div>
                <div class="join__container__item">
                    <iframe width="80%" height="240px"
                    src="https://www.youtube.com/embed/dphagk4O5qA?autoplay=1&mute=1">
                    </iframe>
                </div>
            </div>
        </section>
        <section class="u-padding" >
            <h3 class="heading-tertiary u-color-grey u-text-center  u-margin-bottom u-margin-top">EXPAND OUR REACH</h3>
            <h2 class="heading-primary u-color-black u-text-center  u-margin-bottom u-margin-top">
                The National Geographic Society and
                The Walt Disney Company
            </h2>
            <h3 class="heading-tertiary u-color-black u-text-center  u-margin-bottom ">
                Our joint-venture partnership enables us to invest every philanthropic dollar — 
                100 percent of donations — directly to our Explorers and mission programs. 
            </h3>
            <p class="paragraph u-color-grey  u-margin-bottom u-margin-top">
                One of the powerful ways we build on our legacy and accelerate our impact work is through an innovative, sustainable business model. 
                This joint-venture enterprise combines National Geographic’s global television channels, 
                publications, media, and products and allows us to return a portion of the proceeds from these assets to fund our non-profit work.
            </p>
            <p class="paragraph u-color-grey  u-margin-bottom u-margin-top">
                Disney is one of the most recognized brands in the world and shares our legacy of innovation, inspiration, and storytelling. With its business expertise, 
                brand power, and global footprint, Disney has the unique ability to broadcast the Society’s mission to millions more people who are endlessly curious
                 and share our passion for exploration.
            </p>
        </section>
    </main>
<%- include("_footer") -%>
</body>
</html>