<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= param %> - Nature Explorer</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/nature-logo.png" type="image/x-icon">

    <script src="https://kit.fontawesome.com/5c14429a9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div id="top"></div>
    
        <%- include("_white-nav") -%>
 
    
    <main class="u-margin-top-xl">
    <section  style="padding: 10rem 20vw ;">
        <h1 class="heading-primary-xl u-color-black">Privacy Policy</h1>
        <h3 class="heading-tertiary u-color-grey">Last Updated on : 23 March 2023</h3>
        <div style="padding-left:10rem ;">
            <h2 class="heading-secondary u-color-black">
                ​1.​ PRIVACY NOTICE INTRODUCTION
            </h2>
            <p class="paragraph u-color-black">
                The Nature Blogs is an impact-driven global 
                nonprofit organization that uses the power of science, exploration, education, 
                and storytelling to illuminate and protect the wonder of our world.
            </p>
            <p class="paragraph u-color-black">
                The Nature Blogs (natureblogs.co.in) understands the importance 
                of your privacy, and we take our responsibility to protect it seriously.  Our Privacy Notice tells you:
            </p>
            <ol style="font-size: 2rem;">
                <li>What information we collect about you when you visit this website or use an online resource that contains a link to this Privacy Policy (the “Services”).</li>
                <li>How we use, share and protect this information.</li>
                <li>What choices you have about how this information is used.</li>
                <li> How you can access and update this information.</li>
            </ol>
            <p class="paragraph u-color-black">
                We recognize that information privacy is an ongoing responsibility, so we will update this Privacy Notice as we develop new approaches 
                to personal data protection or adopt new policies.
            </p>
        </div>
        <div style="padding-left:10rem ;">
            <h2 class="heading-secondary u-color-black">
                ​2.​ DATA PROTECTION OFFICER
            </h2>
            <p class="paragraph u-color-black">
                The Nature Blogs (NB) is headquartered in Kathua,Jammu, in the India.  NB has appointed an internal data protection officer
                 for you to contact if you have any questions or concerns about NB’s personal data policies or practices. You can contact us by writing to:
            </p>
            <p class="paragraph u-color-black">
                House no. 11, Ward no. 7, Kalibari Kathua, J&K India
            </p>
        </div>
    </section>
    </main>
<%- include("_footer") -%>
</body>
</html>