$color-white: #fff;
$color-black : #000;
$color-grey: #777;
$color-red : rgb(255, 17, 0);
$color-insta : rgb(250, 0, 125);
$color-green : rgb(0, 219, 11);
$color-grey-dark: #242424;
$color-primary-yellow : rgb(250, 215, 16);
$color-secondary-yellow : #dddad0;